<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/semUI_out/semantic.min.css">
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/index.css"/> 
	<script src="/jquery/jquery.min.js"></script>
	<script src="/semUI_out/semantic.min.js"></script>

	<script src="/javascripts/main_page.js"></script> 
</head>
<body>


<div class="ui fixed menu">
  <a class="item" id="side_bar_list"><i class="content icon" ></i></a>  
  <div class="right menu">
    <a class="item"><i class="user icon"></i>User</a>
    <a class="item" href="/logout"><i class="power icon"></i>Logout</a>
  </div>
</div>

<div class="ui left demo vertical inverted sidebar labeled icon menu">
  <a class="item" href="/">
    <i class="home icon"></i>
    About
  </a>
  <a class="item" href="/users/get_stock">
    <i class="block layout icon"></i>
    Stock
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Clients
  </a>
</div>
		
		<div id="main">
			<ul>
	        <form id="form" action="/users/search_stock" method="POST">				
					Name：<br><input type="text" name="name"><br>
					Price：<br><input type="text" name="price"><br>
					Date：<br><input type="text" name="date"><br>
					Publishment：<br><input type="text" name="publishment"><br>
                    Store：<br><input type="text" name="store"><br>
					Amount：<br><input type="text" name="amount"><br>
					Category：<br><input type="text" name="category"><br>
				<input id="bt_log" type="submit" value="Send"> </input>

		    </form>
			</ul>

             <table class="data_table">
                    <tr>
                      <th>BookName</th>
                      <th>Price</th>
                      <th>Date</th>
                      <th>Publishment</th>
                      <th>Store</th>
                      <th>Amount</th>
                      <th>Category</th>
                    </tr>
            
           <% for(var i in results){ console.log("ha"+results[0].book)%>

                    <tr>
                      <td><%=results[i].name %></td>
                      <td><%=results[i].price %></td>
                      <td><%=results[i].date %></td>
                      <td><%=results[i].publishment %></td>
                      <td><%=results[i].store %></td>
                      <td><%=results[i].amount %></td>
                      <td><%=results[i].category %></td>
                     </tr>
              
              
              <% } %>
                </table>

		</div>




     
</body>
</html> 

