<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="semUI_out/semantic.min.css">
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/index.css"/> 
		<script src="/jquery/jquery.min.js"></script>
	<script src="semUI_out/semantic.min.js"></script>
	</head>
		<div class="ui red  one item inverted massive menu ">
			<div class="active item">
				    ManageEveryWhere
			 </div>
		</div>
		

			 
   			

		
		<div class="ui grid">
		  <div class="four wide column"></div>
			 <div class="five wide column">
				<form id="reg" class="ui huge form" action="/reg" method="POST">
						  <div class="field eight wide">
						    <label>Account</label>
						    <input name="username" placeholder="username" type="text">
						  </div>
						  <div class="field eight wide ">
						    <label>Password</label>
						    <input name="password" placeholder="password" type="password">
						  </div>
						  <div class="field eight wide">
						    <label>Input Password again</label>
						    <input name="password2" placeholder="Password" type="password">
						  </div>
						   <div class="field eight wide">
						    <label>Authentication</label>
						    <input name="auth_level" placeholder="Authentication" type="password">
						  </div>
						  <div class="field eight wide">
						    <label>Store</label>
						    <input name="location" placeholder="Store" type="password">
						  </div>					
						  <button class="ui primary button" type="submit">Register</button>
						<div class="ui error message">
						    <div class="header">Action Forbidden</div>
						    <p><%= error.text%></p>
						  </div>
			
						</form>
			</div>
		  <div class="five wide column">
				<form id="login" class="ui huge form" action="/login" method="POST">				
					 <div class="field eight wide">
					    <label>Account</label>
					    <input name="username" placeholder="Username" type="text">
					  </div>
					  <div class="field eight wide">
					    <label>Password</label>
					    <input name="password" placeholder="password" type="password">
					  </div>							   
				 <button class="ui primary button" type="submit">Login</button>
					<div class="ui error message">
						    <div class="header">Action Forbidden</div>
						    <p><%= error.text%></p>
						  </div>
				</form>
				</div>
		  <div class="two wide column"></div>
		</div>

	<script>
		//console.log("<%= locals.error.text %>");
		if("<%= error %>"){console.log("in");
    				if(!<%= error.type %>)$('#reg').addClass("error");
  				else $('#login').addClass("error");}
	</script>

    </body>
</html>
