<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/semUI_out/semantic.min.css">
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/index.css"/> 
	<script src="/jquery/jquery.min.js"></script>
	<script src="/semUI_out/semantic.min.js"></script>
	<script src="/jquery/jquery.tablesorter.pager.js"></script>

	<script src="/javascripts/main_page.js"></script> 
	
</head>
<body>

<div class="ui fixed menu">
  <a class="item" id="side_bar_list"><i class="content icon" ></i></a>  
  <div class="right menu">
    <a class="item"><i class="user icon"></i>User</a>
    <a class="item" href="/logout"><i class="power icon"></i>Logout</a>
  </div>
</div>

<div class="ui left demo vertical inverted sidebar labeled icon menu">
  <a class="item" href="/">
    <i class="home icon"></i>
    About
  </a>
  <a class="item" href="/users/get_stock">
    <i class="block layout icon"></i>
    Stock
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Clients
  </a>
</div>
		
<div id="main">
			
	        <form id="form" class="ui form" action="/users/search_stock" method="POST">

			<div class="three fields">	
				  <div class="field six wide">
				    <label>Book_Name</label>
				    <input name="name" placeholder="book_name" type="text">
				  </div>
				 <div class="field six wide">
				    <label>Price</label>
				    <input name="price" placeholder="price" type="text">
				  </div>
				 <div class="field six wide">
				    <label>Date</label>
				    <input name="date" placeholder="date" type="text">
				  </div>
			</div>
			<div class="three fields">	
				 <div class="field six wide">
				    <label>Publishment</label>
				    <input name="publishment" placeholder="publishment" type="text">
				  </div>
				 <div class="field six wide">
				    <label>Store</label>
				    <input name="store" placeholder="store" type="text">
				  </div>
				 <div class="field six wide">
				    <label>Amount</label>
				    <input name="amount" placeholder="amount" type="text">
				  </div>
			</div>
			<div class="two fields">	
			 <div class="field eight wide">
			    <label>Category</label>
			    <input name="category" placeholder="category" type="text">
			  </div>
			 <div class="field eight wide">
			    <label>Language</label>
			    <input name="language" placeholder="language" type="text">
			  </div>			
			</div>
			<button class="ui right labeled icon button" type="submit"><i class="right arrow icon"></i>Search</button>
		    </form>

      
            
             <table class="ui large center aligned celled table" id="main_table">
                 <thead>
		<tr>
                      <th>BookName<i class="sort icon"></i></th>
                      <th>Price<i class="sort icon"></i></th>
                      <th>Date<i class="sort icon"></i></th>
                      <th>Publishment<i class="sort icon"></i></th>
                      <th>Store<i class="sort icon"></i></th>
                      <th>Amount<i class="sort icon"></i></th>
                      <th>Category<i class="sort icon"></i></th>
                      <th>language<i class="sort icon"></i></th>
                    </tr>
            </thead>
		<tbody>
           <% for(var i in results){ %>

                    <tr>
                      <td><%=results[i].name %></td>
                      <td><%=results[i].price %></td>
                      <td><%=results[i].date %></td>
                      <td><%=results[i].publishment %></td>
                      <td><%=results[i].store %></td>
                      <td><%=results[i].amount %></td>
                      <td><%=results[i].category %></td>
		      <td><%=results[i].language %></td>
                     </tr>
              
              
              <% } %>
		</tbody>
                </table>

		</div>

 		<script>
			
			$(document).ready(function() 
			    { 
				$("#main_table").tablesorter(); 
			    } 
			); 
    


		</script>

     
</body>
</html> 

