<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/semUI_out/semantic.min.css">
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/index.css"/> 
	<script src="/jquery/jquery.min.js"></script>
	<script src="/semUI_out/semantic.min.js"></script>
	<script src="/jquery/jquery.tablesorter.pager.js"></script>

	<script src="/javascripts/main_page.js"></script> 
	<script src="/socket.io/socket.io.js"></script> 
	<script src="/javascripts/notify.js"></script> 
	<script src="/javascripts/warning_list.js"></script> 

	
</head>
<body>
	
<% var data=id ;%>	
<% include side_top_bar%>


		
<div id="main" >
	        <form id="form" class="ui form" action="/users/search_stock" method="POST">

			<div class="three fields">	
				<div class="field one wide"></div>
				  <div class="field five wide">
				    <label>Book_Name</label>
				    <input name="name" placeholder="book_name" type="text">
				  </div>
				 <div class="field five wide">
				    <label>Price</label>
				    <input name="price" placeholder="price" type="text">
				  </div>
				 <div class="field five wide">
				    <label>Date</label>
				    <input name="date" placeholder="date" type="text">
				  </div>
				<div class="field one wide"></div>
			</div>
			<div class="three fields">	
				<div class="field one wide"></div>
				 <div class="field five wide">
				    <label>Publishment</label>
					  <select class="ui fluid dropdown" name="publishment">
						<option value="">Pulisher</option>
						    <option value="Spring">Spring</option>
						    <option value="Summer">Summer</option>
						    <option value="Fall">Fall</option>
						    <option value="Winter">Winter</option>
					    </select>
				   <!-- <input name="publishment" placeholder="publishment" type="text"> -->
				  </div>
				 <div class="field five wide">

					<label>Store</label>
					      <select class="ui fluid dropdown" name="store">
							<option value="">Store</option>
						    <option value="StoreA">StoreA</option>
						    <option value="StoreB">StoreB</option>
						    <option value="StoreC">StoreC</option>
					     </select>
					
				  <!-- 
				    <input name="store" placeholder="store" type="text"> -->
				  </div>
				 <div class="field five wide">
				    <label>Amount</label>
				    <input name="amount" placeholder="amount" type="text">
				  </div>
				<div class="field one wide"></div>
			</div>
			<div class="two fields">	
			<div class="field one wide"></div>
			 <div class="field seven wide">
			    <label>Category</label>
			    <input name="category" placeholder="category" type="text">
			  </div>
			 <div class="field seven wide">
				
			    <label>Language</label>
				 <select class="ui fluid dropdown" name="language">
						<option value="">Language</option>
						    <option value="English">English</option>
						    <option value="Chinese">Chinese</option>

					     </select>
			   <!-- <input name="language" placeholder="language" type="text">-->
			  </div>
			<div class="field one wide"></div>			
			</div>
			<div class="one fields">	
				<div class="field one wide"></div>
				<button class="ui right labeled icon button" type="submit"><i class="right arrow icon"></i>Search</button>
			 </div >	
 </form>
	
	<br>
	
		<div class="ui grid">
			<div class="two wide column"></div>
			<div class="two wide column">
				<div class="ui slider checkbox">
					<input type="checkbox" name = "toggleit" id="togg">
					<label>Warning</label>
				</div>
			</div>
			<div class="six wide column"></div>
			<div class="six wide column">
					<div class = "ui search">
						<div class = "ui icon labeled input">
							<div class="ui label">
								Filter
							</div>
							<input id="search" class = "prompt" type="text" placeholder="filter">
							<i class="search icon"></i>
						</div>
					</div>
			</div>
			<div class="two wide column"></div>
		</div>
            
             <table class="ui large center aligned celled table" id="main_table">
                 <thead>
		<tr>
                      <th>BookName<i class="sort icon"></i></th>
                      <th>Price<i class="sort icon"></i></th>
                      <th>Date<i class="sort icon"></i></th>
                      <th>Publishment<i class="sort icon"></i></th>
                      <th>Store<i class="sort icon"></i></th>
                      <th>Amount<i class="sort icon"></i></th>
                      <th>Category<i class="sort icon"></i></th>
                      <th>language<i class="sort icon"></i></th>
                    </tr>
            </thead>
		<tbody id ="tablebody">
          <!-- <% for(var i in results){  %>

                    <tr>
                      <td><%=results[i].name %></td>
                      <td><%=results[i].price %></td>
                      <td><%=results[i].date %></td>
                      <td><%=results[i].publishment %></td>
                      <td><%=results[i].store %></td>
                      <td><%=results[i].amount %></td>
                      <td><%=results[i].category %></td>
		      <td><%=results[i].language %></td>
                     </tr>
              
              
              <% } %>-->
		</tbody>
                </table>

</div>

 		<script>
			
			
			
	
		var obj= <%- JSON.stringify(results) %>
		var warn=[];
		$('#search').on('input',reload);
		$('#togg').on('input',toggle_warn);
		
					  
		function toggle_warn(){
			var flag_toggle = document.getElementById('togg').checked

			var tb = document.getElementById("tablebody");
			tb.innerHTML='';
			
			if(flag_toggle){
				for(var i in warn){
						
					var tr = document.createElement("tr");
					for(var j in obj[warn[i]]){
						var td = document.createElement("td");
						td.innerHTML = obj[warn[i]][j];
					    tr.appendChild(td);
					}
					tb.appendChild(tr);		
				
				}
			}
				
			else{
				reload()
			}
			$("#main_table").trigger("update"); 
		}
	
		function _warn(){
			var cur_val = $('#search').val();
			for(var i in obj){				
				if(obj[i].amount<50)warn.push(i);		
			}
			
			if(warn.length)document.getElementById("warning_icon").style.display="block";

		}
				
		
			
			
		function reload(){
			var cur_val = $('#search').val();
			var tb = document.getElementById("tablebody");
			tb.innerHTML='';
			var flag_toggle = document.getElementById('togg').checked

			if(!flag_toggle)
			{
					for(var i in obj){


						var tr = document.createElement("tr");
						var flag = false;

						for(var j in obj[i]){
							//obj[i][j]	
								if(obj[i][j].toString().match(cur_val)!=null){
									flag=true;
								}
								var td = document.createElement("td");
								td.innerHTML = obj[i][j];
								tr.appendChild(td);

						}

						if(flag)
							tb.appendChild(tr);	
					}
			}
			else{
				for(var i in warn){
						
					var flag = false;
					var tr = document.createElement("tr");
					for(var j in obj[warn[i]]){
						
						if(obj[warn[i]][j].toString().match(cur_val)!=null){
									flag=true;
						}						
						var td = document.createElement("td");
						console.log(flag+"  "+warn[i])
						td.innerHTML = obj[warn[i]][j];
					    tr.appendChild(td);
					}
					if(flag)
					tb.appendChild(tr);		
				
				}
			}
			
			
			$("#main_table").trigger("update"); 
		};
	
			
			function getit(){
				var query = window.location.search.substr(1).split("=")[1];
				if(query=="true")
					document.getElementById('togg').checked=true;
			
			}
			
		/*	
			$(function() {
				
			$('#search').change(function(){console.log("hhh")})
			});
			*/
			
			//var obj= <%- JSON.stringify(results) %>
			//console.log(obj)
			$(document).ready(function() 
			    { 
				getit();
				_warn();
				reload();
				
			
				$("#main_table").tablesorter(); 
			    } 
			); 
    


		</script>

     
</body>
</html> 

