<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/semUI_out/semantic.min.css">
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/index.css"/> 
	<script src="/jquery/jquery.min.js"></script>
	<script src="/semUI_out/semantic.min.js"></script>
	<script src="/jquery/jquery.tablesorter.pager.js"></script>
	<script src="/socket.io/socket.io.js"></script> 
	
	<script src="/javascripts/main_page.js"></script> 
	<script src="/javascripts/notify.js"></script> 
	<script type="text/javascript" src="/javascripts/loader.js"></script>
	<script src="/javascripts/trade_chart_change.js"></script> 
</head>
<body>

<% var data=id ;%>
<% include side_top_bar%>


<div id="main" style="margin-top:50px;">
	<div class="ui grid">
		<div class="row">
			<div class="ui six wide column"></div>
			<div class="ui four wide column">
					<div class="green ui icon buttons">
						<button class="ui button " id="list"><i class="list icon huge"></i></button>
						<button class="ui button " id="bar"><i class="bar chart icon huge"></i></button>
						<button class="ui button " id="line"><i class="line chart icon huge"></i></button>

					</div>

			</div>
			<div class="ui one wide column"></div>
			<div class="ui three wide column">
				<div class="ui search">
					<div class="ui icon input">
					<input id="filter" class="prompt" type="text" placeholder="Filter">
						<i class = "search icon"></i>
					</div>
				</div>
			</div>
		</div>
		<!--  table chart  -->
		<div class="row">
				<div class="three wide column"></div>
				<div class="ten wide column" id="main_contaniner">
					<table class="ui celled striped table" id="main_table">
							<thead>
								<tr>
									<th colspan="3">
									Transaction list
									</th>
								</tr>
								<tr>
									<th>Transaction_id<i class="sort icon"></i></th>
									<th>name<i class="sort icon"></i></th>
									<th>date<i class="sort icon"></i></th>
								</tr>
							</thead>

							<tbody id="tablebody">
								<% for(var i in trade_result){ %>
								<tr>
									<td><%= trade_result[i].trade_id %></td>
									<td><%= trade_result[i].name %></td>
									<td><%= trade_result[i].date %></td>
								</tr>
								<% } %>
								
							</tbody>
						</table>
					<div id="chart_bar" style="display:none">
							<div id="chart_div" ></div>
							<div id="chart_div2" ></div>
					</div>
					<div id="chart_line" style="display:none">
							<div id="lchart_div" ></div>
							<div id="lchart_div2" ></div>
					</div>
					
				
				</div>
				<div class="three wide column"></div>	
		</div>		
	</div>
	
	
	
</div>

 		<script>
			var warn_list=[];
			var obj=[];
			warn_list= <%- JSON.stringify(results) %> ;
			obj= <%- JSON.stringify(trade_result) %> ;
				
			$('#list').on('click',table_chart)
			$('#bar').on('click',bar_chart)
			$('#line').on('click',line_chart)
			$(document).ready(function() 
			    { 
				$("#main_table").tablesorter(); 
			    } 
			);
			
			
			$('#filter').on('input',reload);
			$('#filter').on('input',reload);
			function reload(){
				console.log("haha")
				var cur_val = $('#filter').val();
				var tb = document.getElementById("tablebody");
				tb.innerHTML='';
		
						for(var i in obj){


							var tr = document.createElement("tr");
							var flag = false;

							for(var j in obj[i]){
								//obj[i][j]	
									if(obj[i][j].toString().match(cur_val)!=null){
										flag=true;
									}
									var td = document.createElement("td");
									td.innerHTML = obj[i][j];
									tr.appendChild(td);

							}

							if(flag)
								tb.appendChild(tr);	
						}
				}
			

	</script>
	
     <script src="/javascripts/warning_list.js"></script> 
     
</body>
</html> 

